// Header

.pages-index {
  background-image: linear-gradient(to bottom, rgba(122, 60, 114, .5) 100%, rgba(178, 111, 170, .5) 0%), image-url("landscape.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat;
  color: #fff;
  // height: 80vh;

  .menu {
    padding-top: rem(10);

    .item {
      color: #fff;
    }
  }

  .jumbotron {
    margin-top: rem(100);
    padding-bottom: rem(35);
    text-align: center;

    h1 {
      font-size: $xx-large;
      font-weight: 300;
    }

    p {
      font-size: $medium;
    }
  }

  .image-cluster {
    margin-top: rem(35);
    transition-duration: 0.6s;
    width: 10000px;

    .template-img {
      @include filter(blur(2px));
      @include transform(translateX(-170px) translateY(7px));
      position: relative;
      transition-duration: .6s;
      z-index: 1;

      &.magnify {
        @include filter(none);
        @include transform(scale(1.15) translateX(-170px));
        z-index: 2;
      }
    }
  }
}