// ======================
//  Header
// ======================

.pages-index {
  background-image: linear-gradient(to bottom, rgba(122, 60, 114, .5) 100%, rgba(178, 111, 170, .5) 0%), image-url("landscape.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat;
  color: #fff;

  // ======================
  //  Navbar
  // ======================

  .ui.secondary.menu {
    margin-left: rem(-19);
    padding-top: rem(10);

    .item {
      color: #fff;
      outline: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 7%;
        border-bottom: 3px solid #fff;
        width: 88%;
        opacity: 1;
        transition-duration: .6s;
        transform: translateY(-99px);
      }

      &:hover {
        background-color: transparent;
        color: #fff;

        &::after {
          transform: translateY(3px);
        }
      }
    }
  }

  // ======================
  //  end ^^ Navbar
  // ======================

  // ======================
  //  Welcome section
  // ======================

  .jumbotron {
    margin-top: rem(100);
    padding-bottom: rem(35);
    text-align: center;

    h1 {
      font-size: $xx-large;
      font-weight: 300;
    }

    p {
      font-size: $medium;
    }

    .basic.ui.button.all-themes {
      background: transparent !important; // Override semantic ui important declaration for button
      border: 2px solid #fff;
      border-radius: 0;
      box-shadow: none;
      color: #fff !important; // Override semantic ui important declaration for button
      padding: rem(15);
      position: relative;
      transition-duration: .6s;
      width: 351px;
      z-index: 1;

      &:hover {
        color: $primary-color !important;

        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        width: 0%;
        height: 100%;
        z-index: -1;
        transition-duration: .6s;
      }
    }
  }

  .image-cluster {
    margin-top: rem(35);
    transition-duration: 0.6s;
    width: 10000px;

    .template-img {
      @include filter(blur(2px));
      @include transform(translateX(-170px) translateY(7px));
      position: relative;
      transition-duration: .6s;
      z-index: 1;

      &.magnify {
        @include filter(none);
        @include transform(scale(1.15) translateX(-170px));
        z-index: 2;
      }
    }
  }
  
  // ======================
  //  end ^^ Welcome section
  // ======================

}

// ======================
//  end ^^ Header
// ======================

// ======================
//  Featured section
// ======================

.featured {

  .ui.grid.container {
    @extend %visually-seperate-section;

    .featured-theme-info {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);

      .featured-theme-name {
        font-size: $xx-medium;
      }
    }
  }
}

// ======================
//  end ^^ Featured section
// ======================

// ======================
//  Trending section
// ======================

.trending {

  .ui.grid.container {
    @extend %visually-seperate-section;
  }

  .metadata {
    margin-bottom: rem(15);

    div:not(.release-date) {
      display: flex;
      margin-top: rem(5);
      margin-bottom: rem(-5);

      .theme-name {
        font-size: $medium;
        flex-grow: 1;
      }

      .likes {
        margin-right: rem(-6);
      }
    }
  }
}

// ======================
//  end ^^ Trending section
// ======================

// ======================
//  CTA section
// ======================

.call-to-action {

  .ui.grid.container {
    @extend %visually-seperate-section;
    text-align: center;

    .massive.rocket.icon {
      color: $primary-color;
      font-size: $xx-large * 3;
    }

    .big.message {
      font-size: $xx-large;
      font-weight: 100;
      padding-bottom: rem(15);
    }

    .basic.ui.button {
      border-radius: 0;
      padding: rem(15);
      width: 351px;
    }
  }
}

// ======================
//  end ^^ CTA section
// ======================

// ======================
//  shared => featured, trending
// ======================

.title {
  font-size: $x-medium;
}

.actions {
  .basic.ui.button {
    border-radius: 0;
  }
}

// ======================
//  end_shared => featured, trending
// ======================
