<footer class="footer">
  <div class="ui grid container">
    <div class="sixteen wide column">
      
      <div class="brand-icons">
        <%= link_to raw("<i class='large twitter icon'></i>"), "#" %>
        <%= link_to raw("<i class='large facebook icon'></i>"), "#" %>
        <%= link_to raw("<i class='large github alternate icon'></i>"), "#" %>
      </div>

    </div>

    <div class="sixteen wide column">
      <p class="copyright-notice">
        &copy; <%= Time.now.year %> - Made with <i class="heart icon"></i> from an office in Yaba, Lagos, Nigeria.
      </p>
    </div>
  </div>
</footer>