<div class="mobile sidebar invisible">
  <nav>
    <%= content_tag :i, "", class: "remove icon" %>
    <%= link_to raw("Themes <i class='theme icon'></i>") %>
    <%= link_to raw("Create Account / Login <i class='add user icon'></i>") %>
    <%= link_to raw("Contact Us <i class='mail icon'></i>") %>
  </nav>
</div>