<% provide(:title,  "Scaffolds - Homepage") %>

<main>
  <section class="featured">
    <div class="ui grid container">
      <div class="sixteen wide column">
        <h5>
          Featured
        </h5>
      </div>

      <div class="ten wide column">
        <%= image_tag "test3.png" %>
      </div>

      <div class="six wide column">
        <h3>Theme name</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tenetur quidem labore obcaecati repudiandae eos vitae natus dolore nulla veniam laudantium esse perspiciatis, accusantium, id quo, ratione itaque dignissimos voluptatibus.
        </p>

        <div class="actions">
          <button class="basic ui button">
            Preview
          </button>

          <button class="basic ui button">
            Download
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="trending">
    
  </section>

  <section class="call-to-action">
    
  </section>
</main>

<footer class="footer">
  
</footer>
