<% provide(:title,  "Scaffolds - Homepage") %>

<main>
  <section class="featured">
    <div class="stackable ui grid container">
      <div class="sixteen wide column">
        <h5 class="title">
          Featured
        </h5>
      </div>

      <div class="ten wide column">
        <%= image_tag "test3.png" %>
      </div>

      <div class="five wide column six wide computer featured-theme-info">
        <h3 class="featured-theme-name">
          Theme name
        </h3>

        <p class="featured-theme-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tenetur quidem labore obcaecati repudiandae eos vitae natus dolore nulla veniam laudantium esse perspiciatis, accusantium, id quo, ratione itaque dignissimos voluptatibus.
        </p>

        <div class="actions">
          <button class="basic ui button">
            Preview
          </button>

          <button class="basic ui button">
            Download
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="trending">
    <div class="stackable ui grid container">
      <div class="sixteen wide column">
        <h5 class="title">
          Trending
        </h5>
      </div>

      <div class="five wide column">
        <div class="template-screenshot">
          <%= image_tag "test3.png", alt: "screenshot" %>
        </div>

        <div class="metadata">
          <div>
            <h5 class="theme-name">
              Cool Portfolio
            </h5>

            <p class="likes">
              272k <i class="heart icon"></i>
            </p>
          </div>

          <div class="release-date">
            <p>
              April 12th 2016
            </p>
          </div>
        </div>

        <div class="actions">
          <button class="basic ui button">
            Preview
          </button>

          <button class="basic ui button">
            Details
          </button>
        </div>
      </div>

      <div class="five wide column">
        <div class="template-screenshot">
          <%= image_tag "test3.png", alt: "screenshot" %>
        </div>

        <div class="metadata">
          <div>
            <h5 class="theme-name">
              Cool Portfolio
            </h5>

            <p class="likes">
              272k <i class="heart icon"></i>
            </p>
          </div>

          <div class="release-date">
            <p>
              April 12th 2016
            </p>
          </div>
        </div>

        <div class="actions">
          <button class="basic ui button">
            Preview
          </button>

          <button class="basic ui button">
            Details
          </button>
        </div>
      </div>

      <div class="five wide column">
        <div class="template-screenshot">
          <%= image_tag "test3.png", alt: "screenshot" %>
        </div>

        <div class="metadata">
          <div>
            <h5 class="theme-name">
              Cool Portfolio
            </h5>

            <p class="likes">
              272k <i class="heart icon"></i>
            </p>
          </div>

          <div class="release-date">
            <p>
              April 12th 2016
            </p>
          </div>
        </div>

        <div class="actions">
          <button class="basic ui button">
            Preview
          </button>

          <button class="basic ui button">
            Details
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action">
    <div class="stackable ui grid container">
      <div class="sixteen wide column">
        <i class="massive rocket icon"></i>
        
        <h3 class="big message">
          Speed up your workflow
        </h3>

        <button class="basic ui button">
          Browse free templates
        </button>
      </div>
    </div>
  </section>
</main>
